body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  font-weight: 400;
}
h1, h2, h3 {
  font-weight: 300;
  color: white;
}
header {
    background-color: #212221;
    padding: 0.5em;
}
h1 { font-size: 1.5em;}
h2 {
  background-color: #1181B2;
  padding: 0.5em;
  font-size: 1.2em;
  margin: 0;
}
h3 {
    color: #212221;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "UserList Details";
  grid-gap: 1em;
}

.user-list-container { grid-area: UserList; }

.user-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.user-list li {
  padding: 0.5em;
  cursor: pointer;
}

.Details {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  grid-template-areas: "UserForm" "Portfolio";
  grid-gap: 1em;
  grid-area: Details;
  background-color: white;
}

.Portfolio {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 1fr;
  grid-template-areas: "StockList StockDetails";
  grid-area: Portfolio;
  grid-gap: 1em;
}

.StockList { 
    grid-area: StockList; 
    background-color: white;
  }

.StockDetails { 
    grid-area: StockDetails; 
    background-color: white;
  }

.UserForm { 
    grid-area: UserForm; 
    background-color: white;
}


.userEntry {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-auto-flow: row dense;
  grid-gap: .8em;
  background: #eee;
  padding: 1.2em;
}
.userEntry > label  {
  grid-column: 1;
  grid-row: auto;
}
.userEntry > .one {
  grid-column: 2;
  grid-row: auto;
  padding: 1em;
  border: none;
}
.userEntry > .two {
  grid-column: 3;
  grid-row: auto;
  padding: 1em;
  border: none;
} 

.userEntry > .both {
  grid-column: 2 / 4;
  grid-row: auto;
  padding: 1em;
  border: none;
}  

button {
    background-color: #44449B;
    color: white;
    font-weight: 700;
    font-size: 1.1em;
    border: none;
}
button:hover {
    color: #DDEDF4;
    cursor: pointer;
}


.portfolio-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.25em;
}


.stock-form {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr ;
  grid-gap: 0.25em;      
}

.stockLabel {
    font-weight: bold;
}

.logoContainer {
  grid-column: 1 / span 2

}

#logo {
padding: 0.5em;
max-height: 200px;
max-width: 400px;
object-fit: cover;
}
/* --- Lab 02 polish --- */
.user-list li {
  cursor: pointer;
  padding: 6px 8px;
  outline: none;
}
.user-list li:focus {
  outline: 2px solid #8662c7;
  outline-offset: 0;
  border-radius: 4px;
}
.user-list li.selected {
  background: #e6efff;
  border-left: 3px solid #51279b;
}

.portfolio-list button {
  cursor: pointer;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}
#logo {
  width: 64px;
  height: 64px;
  object-fit: contain;
}
#logoFallback {
  width: 64px;
  height: 64px;
  display: none;            /* shown programmatically on error */
  place-items: center;
  background: #f6f6f6;
  color: #555;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-weight: 600;
}
